<!DOCTYPE html>
<html>
    <head>
        <meta charset="">
        <link rel="stylesheet" href="/CSS/login.css">
    </head>
        <title>QUICKIE | <%= title %></title>
        <body>
            <header> 
                 <img src="/Image/QUICKIE-removebg-preview.png" alt="My Logo is here">
                <form action="/login" method="POST" class="form">
                <h3>Login</h3>
                   <div>
                       <input id="form-group" type="text"
                       name="email"
                       value=""
                      id="Email"
                      placeholder="Email or Phone number"><br><br>
                   </div>
                  
                    <div>
                        <input id="form-group" 
                       type="text"
                        name="password"
                        value=""
                       id="Password"
                       placeholder="Password"><br><br>
                    </div>
                    <div>
                    <input type="checkbox"
                   name="Remember me"
                    value=""
                    id="Remember me">
                    <label="Rememberme">Remember me</label><br><br>
                </div>
                <button id="login"type="submit">Login</button><br><br>
                <button id="facebook"type="submit">Sign in with Facebook</button><br><br>
                <button id="google"type="submit">Sign in with Google</button><br><br>
                <h4>Don't have an account yet? <span><a href="/Sign-up"> Sign Up</a></span> 
                </form>        
            </body>
               
            </header>
    </head>
</html>