<!DOCTYPE html>
<html>
    <head>
        <meta charset="">
        <link rel="stylesheet" href="/verification.css">
    </head>
        <title>QUICKIE | <%= title %></title>
        <body>
            <header> 
                <h3>Please verify your email</h3>
                <h4>Enter the code sent to your mail</h4>
                </header>
                   